/* font-family: 'Montserrat', sans-serif;
font-family: 'Muli', sans-serif; */



body{
    margin: 0px;
} 

.header-container {
    margin: 0px;
    height: 190px;
    width: 100%;
}

#front_page_banner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-logo {
    padding-top: 40px;
    padding-left: 110px;
}

/* HEADER NAVS */

/* DONATION NAV */

.d-nav{
    position: absolute;
    right: 10%;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
    background-color: #A01D6B;
}

.d-list {
    display: inline-block;
}

.nav-link-d {
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    text-decoration: none;
    padding: 7px 15px;
    
}

a{
    color:white;

}

a:hover{
    color:white;
    text-decoration: none;
}

/* MAIN NAV */

.main-nav {
    height: 60px;
    background-color: #243435;
    
}

.home {
    margin-left: 120px;
}

.nav-item {

}

.nav-link-m {
    margin-left: 50px;
    padding: 18px 30px 17px 30px;
    /* margin: 0px 10px; */
    display: table-cell;
    vertical-align: middle;
}

.nav-link-m:hover{
    background-color: #3e605f;
}

.nav-link-m:focus {
    background-color: #355655;
}



/* CAROUSEL */

.carousel {
    height: 670px;
    width: 100%;

    background-color: darkcyan;
}

.carousel-inner {
    display: flex;
    justify-content: flex-start; 
}

.carousel-item {
    height: 670px;
    width: 100%;
    background-color: burlywood; 
}

.c-text {
    width: 40%;
    height: 100%;
   background-color: #1C2929;
}

.c-image {
    width: 60%;
    height: 100%;
    background-color: #A01D6B;
}

.c-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-text-container {
    width: 55%;
    height: 80%;
}

.car-header {
    font: bold;
    font-size: 45px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.car-text {
    font: 300;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: white;
}

/* MAIN CONTENT */

.main-content {
    height: 344px;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
}

.text-container {
    height: 250px;
    width: 60%;
    /* background-color: aqua; */
   
}

.hpage-header {
    font: bold;
    font-size: 30px;
    padding: 10px;
}

.hpage-content {
    font: 500;
    font-size: 24px;
    padding: 10px;

}

/* FOOTER */

footer {
    height: 350px;
    width: 100%;
    /* position: absolute;
    bottom: 0px; */

    background-color:#243435;

}

.main-footer{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle-container {
    display: flex;
    justify-content: space-around;
    height: 71.5%;
    width: 60%;
    margin-top: 40px;
    /* background-color: aqua; */
}

.circle-btn {
    height: 200px;
    width: 210px;
    border-radius: 50%;
    background-color: #355655;
}

.second-footer {
    height: 20%;
    width: 100%;
    
    background-color: #355655;
}
#menu-donation-footer li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 210px;
    border-radius: 50%;
    background-color: #355655;
}

/* SHOP PAGE */

.shop-image {
    width: 100%;
    height: 400px;
    background-color: #3e605f;
}

.shop-text-container {
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
    width: 100%;
    height: 300px;
    /* background-color: red; */
}

.shop-text-inner {
    margin-top: 1.9%;
    height: 80%;
    width: 60%;
    /* background-color: #A01D6B; */
}

.shop-catalouge {
    width: 60%;
    height: 450px;
    margin: 100px auto;
    /* background-color: aquamarine; */
}

hr {
    height: 2px;
    width: 60%;
    margin: 10px auto;
    background-color: black;
}

/* DONATION PAGE */

.donation-header-container {
    height: 400px;
    width: 100%;

}

.d-header {
    height: 200px;
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    /* background-color: #3e605f; */
    text-align: center;
}

.d-subheader-text {
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    /* background-color: #3e605f; */
    text-align: center;
}

.donation-btn-container {
    height: 600px;
    width: 100%;
}

.header {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
}

.sub-header {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/* DONATION BUTTONS */

.donation-btn-container {
    height: 200px;
    width: 100%;
    align-items: center;
    /* background-color: red; */
}

.donation-btn-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.donation-btn {
    width: 120px;
    height: 120px;
    border-radius: 75px;
    background-color: #4E9321;
    display: flex;
    justify-content: space-around;
}

.d-btn-text {
    color: white;
    margin: auto 0;
    
}

/* BILLING CONTAINER */

.billing-container {
    height: 500px;
    width: 100%;
}

/* TERRAIN PAGES */

.header-image {
    height: 500px;
    width: 100%;
    background-color: #355655;
}

.terrain-header {
    text-align: center;
    color: white;
    height: 15%;
    width: 30%;
    padding-top: 200px; 
    margin: 0px auto;
    /* background-color: aliceblue; */
}

.terrain-content {
    padding-top: 150px;
    height: 1500px;
    width: 40%;
    margin: 0 auto;
    /* background-color: aqua; */
}

.header-terrain-content {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;

}

.text-terrain-content {
    padding-top: 100px;

}