body{
    margin: 0px;
} 

.header-container {
    margin: 0px;
    height: 190px;
    width: 100%;

}

.header-logo {
    padding-top: 40px;
    padding-left: 60px;
}

/* HEADER NAVS */

.d-nav{

    left: 50px;
    height: 40px;
    width: 63%;
    border-radius: 0px 0px 10px 10px;

    background-color: #A01D6B;
}

.d-list {
    display: inline-block;
}

.nav-link-d {
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    text-decoration: none;
    padding: 7px 15px;
    
}

a{
    color:white;

}

a:hover{
    color:white;
    text-decoration: none;
}


.main-nav {
    background-color:#232F2B;
}


/* CAROUSEL */

.carousel {
    height: 600px;
    width: 100%;

    background-color: darkcyan;
}


/* MAIN CONTENT */

.main-content{
    height: 600px;
    width: 100%;



}



/* FOOTER */

footer {
    height: 350px;
    width: 100%;

    background-color:#232F2B;

}

.main-footer{
    height: 80%;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
}

.circle-container {


    height: 100%;
    width: 80%;

    /* background-color: aqua; */

}

.circle-btn {
    height: 200px;
    width: 210px;

    border-radius: 50%;
   
    background-color: #355655;
}






.second-footer {
    height: 20%;
    width: 100%;
    
    background-color: #355655;
}